.search{
    cursor: pointer;
    color: rgb(149, 110, 185);
    margin-right: 0.8rem;
}

.edit{
    cursor: pointer;
    color: rgb(53, 121, 139);
    margin-right: 0.3rem;
}
    
.delete{
    cursor: pointer;
    color: rgb(153, 49, 98);
}

.add{
    cursor: pointer;
    font-size: 15px;
    line-height: 20px;
}

mat-form-field{
    width: 100%;
}

table {
    width: 100%;
  }

td, th{
    width: 15%;
}